In [30]:
import pandas as pd

df = pd.read_excel("../data/deforestation/gfw_2023_statistics_summary.xlsx",sheet_name="primary_forest_loss")
df.head()

,country,2001_extent,2002,2003,2004,2005,2006,2007,2008,2009,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Angola,2457476,3500,2964,2355,3110,1401,8060,2699,5343,...,10993,9000,12048,11180,13520,10005,8918,24339,15589,17669
1,Antigua and Barbuda,59,0,0,0,0,0,0,0,0,...,0,0,0,0,4,0,0,0,0,0
2,Argentina,4412118,9317,14448,28084,31424,24101,18688,47052,20819,...,19290,10542,15242,17189,9493,8965,20834,11904,21382,11443
3,Aruba,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Australia,12675,1,1,0,1,0,14,0,1,...,20,0,7,6,0,1,1,4,0,1

In [31]:
df.rename(columns={"2001_extent": '2001'}, inplace=True)

In [32]:
colunas_string = []
for column in df.columns:
    colunas_string.append(str(column))
df.columns = colunas_string
df.reset_index(inplace=True)

In [33]:
df = df.melt(id_vars="country", var_name="ano", value_vars=df.columns[1:],)

Transformando para km2

In [41]:
df["value"] = df["value"].apply(lambda x: int(x/1000))

"In this data set, “tree cover” is defined as all vegetation greater than 5 meters in height, and may take the form of natural forests or plantations across a range of canopy densities. “Loss” indicates the removal or mortality of tree cover and can be due to a variety of factors, including mechanical harvesting, fire, disease, or storm damage. As such, “loss” does not equate to deforestation. The 2011-2020 data was produced using updated methodology. Comparisons between the original 2001-2010 data and the 2011-2020 update should be performed with caution.
"

In [45]:
df = df[df["ano"] != "2001"]

UNIDADE ha

In [46]:
df.to_excel("../data/deforestation/gfw_2023_statistics_summary_clean_melted.xlsx", index=False)