In [3]:
import pandas as pd

TRATANDO COBERTURA VEGETAL PARA PADRAO

In [22]:
desmatamento = pd.read_excel("../data/deforestation/gfw_2023_statistics_summary_clean_melted.xlsx")
desmatamento = desmatamento.groupby("ano", as_index=False).agg({"desmatamento": "sum"})
desmatamento.rename(columns={"desmatamento": "cobertura_vegetal"}, inplace=True)

TRATANDO COBERTURA GELO PARA PADRAO

In [20]:
cobertura_gelo = pd.read_csv("../data/sea-ice-coverage/seaice-treated.csv")
cobertura_gelo["Year"] = cobertura_gelo["Year"].astype(int)
cobertura_gelo["ice-extent"] = cobertura_gelo["ice-extent"].astype(float)
cobertura_gelo  = cobertura_gelo.groupby("Year", as_index=False).agg({"ice-extent": "sum"})
cobertura_gelo.rename(columns={"Year": "ano", "ice-extent": "cobertura_gelo"}, inplace=True)

TRATANDO CO2 PARA PADRAO

In [29]:
emissao_co2 = pd.read_csv("../data/CO2/co2-fossil-plus-land-use.csv")
emissao_co2["Year"] = emissao_co2["Year"].astype(int)
emissao_co2["total_co2_emissions"] = emissao_co2["total_co2_emissions"].astype(float)
emissao_co2.rename(columns={"Year": "ano", "total_co2_emissions": "emissoes_totais_co2"}, inplace=True)
emissao_co2 = emissao_co2.groupby("ano", as_index=False).agg({"emissoes_totais_co2": "sum"})

TRATANDO TEMPERATURA PARA PADRAO

In [36]:
temperatura = pd.read_excel("../data/temperature/word-wide-temperature.xlsx")
temperatura["year"] = temperatura["year"].astype(int)
temperatura["celsius"] = temperatura["celsius"].astype(float)
temperatura.rename(columns={"year": "ano"}, inplace=True)
temperatura = temperatura.groupby(by="ano", as_index=False).agg({"celsius": "sum"})

Index(['year', 'celsius', '5-yr smooth'], dtype='object')

In [ ]:
cobertura_gelo
desmatamento
temperatura
emissao_co2

In [39]:
df1 = pd.merge(cobertura_gelo, desmatamento, how="inner", on="ano")
df2 = pd.merge(temperatura, emissao_co2, how="inner", on="ano")
df = pd.merge(df1, df2, how="inner", on="ano")
df

     ano  cobertura_gelo  cobertura_vegetal  celsius  emissoes_totais_co2
0   2002       22.584474              26616    25.62         1.463319e+11
1   2003       23.366510              24832    25.42         1.573000e+11
2   2004       23.201932              33949    25.35         1.577070e+11
3   2005       22.601855              33264    25.61         1.583648e+11
4   2006       22.233526              28098    25.41         1.634976e+11
5   2007       22.161203              29007    25.53         1.637349e+11
6   2008       23.217254              27100    25.24         1.668217e+11
7   2009       22.980562              27978    25.43         1.666105e+11
8   2010       22.818184              33027    25.67         1.736331e+11
9   2011       21.984068              27473    25.35         1.783595e+11
10  2012       22.410536              35926    25.56         1.816853e+11
11  2013       23.420721              26355    25.49         1.793222e+11
12  2014       23.566622              35838    25.66         1.825555e+11
13  2015       22.979918              29286    25.97         1.849976e+11
14  2016       21.365593              61245    25.84         1.800932e+11
15  2017       21.141627              49980    25.77         1.831743e+11
16  2018       21.355011              36440    25.59         1.842509e+11
17  2019       21.077044              37474    25.94         1.872214e+11
18  2020       21.752270              42059    25.93         1.778972e+11
19  2021       22.130466              37460    25.57         1.867064e+11
20  2022       21.387427              41133    25.54         1.874498e+11