In [29]:
import pandas as pd
import numpy as np
import seaborn as sns

In [30]:
df = pd.read_csv("../data/temperature/station_manaus.csv")
df = df.replace(999.9, np.nan)
df.fillna(method='ffill', inplace=True)
df["YEAR"] = df["YEAR"].astype(int)
df.drop(columns=["D-J-F", "M-A-M", "J-J-A", "S-O-N", "metANN"],inplace=True)
df = df.melt(id_vars="YEAR", value_vars=df.columns[1:11], var_name="mes", value_name="temperatura")
df = df.groupby("YEAR", as_index=False).agg({"temperatura": "mean"})
df.rename(columns={"YEAR": "ano"}, inplace=True)
df.to_excel("../data/temperature/station_manaus_limpo.xlsx")

C:\Users\rafae\AppData\Local\Temp\ipykernel_19084\880694374.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)

In [31]:
df

      ano  temperatura
0    1910       27.460
1    1911       27.700
2    1912       28.320
3    1913       27.750
4    1914       28.250
..    ...          ...
108  2018       29.020
109  2019       28.845
110  2020       29.000
111  2021       28.800
112  2022       29.300

[113 rows x 2 columns]