In [14]:
import pandas as pd
import os

In [15]:
df = pd.read_excel(f"{os.getcwd()}/../data/temperature/word-wide-temperature.xlsx", index_col=0)
def clean_celsius(x):
    x = str(x)
    x = x.replace(",",".")
    return float(x)
df["celsius"] = df["celsius"].apply(clean_celsius)
df

      celsius 5-yr smooth
year
1901    24.91       24,94
1902    25.04       24,91
1903    24.86       24,87
1904    24.66       24,84
1905    24.84       24,82
...       ...         ...
2018    25.59       25,84
2019    25.94        25,8
2020    25.93       25,74
2021    25.57       25,66
2022    25.54       25,57

[122 rows x 2 columns]

In [16]:
df.to_excel(f"{os.getcwd()}/../data/temperature/word-wide-temperature.xlsx")